* { /*selettore universale*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #1c1c1c;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}

/*----- Header -----*/
header {
    position: fixed;    /* l'header rimane fisso */
    top: 10px;
    left: 0;
    width: 100vw;
    padding: 4px 80px;    /*top e bottom paddings sono 20px, right e left sono 100px*/
    z-index: 99;
    background: #1c1c1cA1;
}

#info, #infoattuale {
    position: relative;
    font-size: 3vh;
    color: #ddc962;
    text-decoration: none;  /*così che non si veda la classica sottolineatura delle parole*/
    font-weight: 500;
    margin-left: 4vw;
}

#info::after, #infoattuale::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -1.5vh;
    width: 100%;
    height: 3px;
    background: #ddc962;    /*color oro 25% più chiaro e 25% più desaturato*/
    border-radius: 5px;
    transform-origin: right; /*così che la linea scompaia da destra*/
    transform: scaleX(0);   
    transition: transform .5s;  /* così che la linea sotto appaia lentamente*/
}

/* quando si passa sopra con il muose appare la linea*/
#info:hover::after, #infoattuale::after {
    transform-origin: left; /* così che la line appaia da sinistra*/
    transform: scaleX(1); 
}

.navigation{
    display: flex;
    justify-content: space-between; /*altrimenti le scritte verrebbero storte*/
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between; /*altrimenti le scritte verrebbero storte*/
    align-items: center;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


.navigation .btnLogin-popup {
    width: 8.5vw;
    height: 6.5vh;
    background: transparent;
    border: 2px solid #ddc962;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3vh;
    color: #ddc962;
    font-weight: 500;   /* se il testo è sottile o più in grassetto*/
    margin-left: 4vw;
    transition: .5s;
}

/* per cambiare il bottone login al passaggio del mouse*/
.navigation .btnLogin-popup:hover {
    background: #ddc962;    /* cambia il colore dello sfondo del bottone*/
    color: #1c1c1c;         /* cambia il colore della scritta Login */
}

#selectLingue {
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

.optionLang {
    background-color: #ddc962;
    color: #1c1c1c;
}

.home {
    height: 40vh;
    margin-top: 10vh;
    margin-left: 40px;
}

#mainTitle {
    font-size: 80px;
    font-weight: 900;
    color: #fff;
}


/* footer da sistemare */
.box {
    width: 100vw;
    height: 25vh;
    background-color: rgb(30, 8, 52);
    animation: animateWave 2.5s linear infinite;
    --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(60% - 186px) 0/372px 80%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 60% 93px/372px 80% repeat-x;
    -webkit-mask: var(--mask);
            mask: var(--mask);
}
}

@keyframes animateWave {
@keyframes animateWave {
    0% {
        --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(60% - 186px) 0/372px 100%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 60% 93px/372px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);   
        -webkit-mask: var(--mask);
                mask: var(--mask);   
    }
    25% {
    25% {
        --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(65% - 186px) 0/372px 100%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 65% 93px/372px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }
    50% {
    50% {
        --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(70% - 186px) 0/372px 100%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 70% 93px/372px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }
    75% {
    75% {
        --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(75% - 186px) 0/372px 100%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 75% 93px/372px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }
    100% {
        --mask:
        radial-gradient(207.95px at 50% 279px,#000 99%,#0000 101%) calc(80% - 186px) 0/372px 100%,
        radial-gradient(207.95px at 50% -186px,#0000 99%,#000 101%) 80% 93px/372px 100% repeat-x;
        -webkit-mask: var(--mask);
                mask: var(--mask);
        -webkit-mask: var(--mask);
                mask: var(--mask);
    }
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(30, 8, 52);
    padding: 20px 50px;
    flex-direction: row;
    color: white;
}

h4 {
    font-size: 40px;
    font-weight: 700;
}

li {
    font-size: 25px;
}

footer {
    margin-top: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: rgb(30, 8, 52);
    padding: 20px 50px;
    flex-direction: row;
    color: white;
}

h4 {
    font-size: 40px;
    font-weight: 700;
}

li {
    font-size: 25px;
}