<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleria - Percorso di fotografia</title>
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="progetto.html">Progetto</a>
        <a href="">Galleria</a>
        <a href="backstage.html">Backstage</a>
        <a href="">IT</a>
    </nav>

    <h1>Abbiamo affrontato le seguenti tecniche:</h1>
    <ul>
        <li>La composizione e la luce (la regola dei terzi, ritratto, posing, direzione soggetto, piano americano, effetto sfocato, boken)</li>
        <li>Tecnica dello still life</li>
        <li>Tecnica del panning</li>
        <li>Tecnica del light painting</li>
        <li>Tecnica del paesaggio</li>
        <li>Tecnica del motion blur (contrario panning)</li>
        <li>Foto editing</li>
    </ul>
</body>
</html>