<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Il progetto - Percorso di fotografia</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <nav>
        <a href="index.html">Home</a>
        <a href="">Progetto</a>
        <a href="galleria.html">Galleria</a>
        <a href="backstage.html">Backstage</a>
        <a href="">IT</a>
    </nav>

    <h1>Chi siamo</h1>
    <p>
        Cras rutrum placerat diam at iaculis. Sed elit neque, pulvinar a sagittis in, suscipit a diam. Quisque vel elementum justo, non vulputate enim. Curabitur id ligula et tellus aliquet sodales id eu elit. Integer pulvinar a justo ac euismod. Nunc quis ex est. Vivamus mattis tortor diam, sed finibus dolor efficitur tempus. Morbi cursus nisl nec arcu gravida porttitor. Vivamus varius a mi at dapibus. Duis nec magna id ante fringilla tempor. Integer nec massa risus. Ut lorem lorem, pretium in tristique eget, porttitor non lorem. Nunc lobortis purus urna, vel posuere enim hendrerit ut. Curabitur consequat est nec metus consequat, quis mattis odio facilisis. Cras consectetur auctor eleifend.
        Morbi at ornare est. Pellentesque vehicula at tortor ac euismod. Duis non erat eleifend, porta diam vel, eleifend libero. In ultricies turpis at porta sodales. Donec at mi accumsan, porttitor nisi a, pharetra quam. Aliquam vel aliquam nulla, non aliquet ipsum. Vestibulum cursus fermentum porta.
    </p>
    
    <br>

    <h1>Come è nato il progetto</h1>
    <p>
        Donec eget elit pretium orci lacinia accumsan non sit amet dui. Nunc ut sapien lacus. Pellentesque in elit sit amet libero pellentesque tristique eget in erat. Nulla ut felis magna. Curabitur vitae aliquet felis. Morbi cursus lorem porttitor varius laoreet. Nulla dictum efficitur nibh, non efficitur sem pulvinar non.
        Fusce ex urna, consectetur at arcu tristique, mollis ullamcorper ante. Suspendisse pulvinar sem nec ultricies sodales. Ut pretium interdum lacus quis tempor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum pellentesque libero eget nisi ornare consectetur. Vivamus suscipit, lectus sit amet accumsan auctor, odio eros fringilla nulla, in tempor nibh sem eu dolor. Quisque et massa orci. Morbi et nunc id justo egestas egestas ac quis sapien. Donec diam lacus, imperdiet sed risus eget, rhoncus luctus elit.
    </p>

    <br>
    
</body>
</html>